<!-- <p>footer works!</p> -->

<section id="footer">
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad libero,
                        maiores aliquid iste doloremque ipsum doloribus vero deserunt nesciunt alias.</p>
                    <p>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>

                    </p>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <p> <a href="#">About Us</a></p>
                    <p><a href="#">Contact Us</a></p>
                    <p><a href="#">FAQ'S</a></p>
                    <p> <a href="#">Legals</a></p>
                    <p> <a href="#">Privacy Policy</a></p>
                    <p> <a href="#">Ratings and Reviews Guidelines</a></p>
                    <p> <a href="#">Supporting customers throughout COVID-19</a></p>


                </div>
                <div class="col-md-3">
                    <h5>Helpful Links</h5>
                    <p><a href="#">Special Offers</a></p>
                    <p><a href="#">Events</a></p>
                    <p><a href="#">Resources</a></p>
                    <p><a href="#">Home Improvement Specialists by Categories</a></p>
                    <p><a href="#">Home Improvement Specialists by Locations</a></p>
                    <p><a href="#">Blog</a></p>
                </div>
                <div class="col-md-3">
                    <h5>Businesses</h5>
                    <p><a href="#">Add your Business</a></p>
                    <p><a href="#">Upgrade</a></p>
                    <p><a href="#">Manage your Account</a></p>
                    <p><a href="#">Check your Stats</a></p>
                    <p><a href="#">Other Marketplaces</a></p>

                </div>
            </div>            
        </div>
    </footer>
</section>

